<div class="navbar">
    <div class="bar">
        <ul>
            <li><a href="#main">Biblio</a></li>
            <li><a href="#team">Our Team</a></li>
            <li><a href="#contacts">Contacts</a></li>
        </ul>
    </div>
    <div class="button-sign">
        <button routerLink="/sign-in">Sign in</button>
    </div>
</div>

<div class="book-container" >
    <div class="book-card" >
        <img src="https://sun9-11.userapi.com/impg/H0MR6PnTvgciI_Lm8VVmCyWyvcnS1LiOZ256Kg/DQlmGT30IR8.jpg?size=442x692&quality=95&sign=239f1b4deeda28e0bf0a9f162a220f1b&type=album" alt="">
        <div class="book-int">
            <button class="take-but">Take Book</button>
            <!-- <button class="like"></button> -->
            <link class="like" rel="shortcut icon" href="https://ru.freepik.com/icon/heart_16945933#fromView=search&page=2&position=10&uuid=ba9250fa-fc22-4541-9efb-084083a6e771" />
            <!-- <link class="like" rel="shortcut icon" href="https://ru.freepik.com/icon/heart_16945933#fromView=search&page=2&position=10&uuid=ba9250fa-fc22-4541-9efb-084083a6e771" /> -->
        </div>
    </div>
    <div class="book-info">
        <h1>Собачье сердце</h1>
        <h3>Булгаков Михаил Афанасьевич</h3>
        <h2>«Собачье сердце», гениальная повесть Михаила Булгакова, написанная еще в 1925 году, едва не стоившая автору свободы и до 1987 года издававшаяся лишь за рубежом и ходившая по рукам в самиздате, в представлениях не нуждается.</h2>
    </div>
</div>
<div class="reviews-container">
    <div class="rew-int">
        <div class="rew-info">
            <h2>Отзывы</h2>
            <p>4,5</p>
        </div>
        <p>+</p>
    </div>
    <div class="review-list">
        <div class="rew-item">
            <div class="rew-header">
                <div class="review">
                    <h4>Анненкова Светлана</h4>
                    <p>5</p>
                </div>
                <p>12.12.2024</p>
            </div>
            <!-- <div class="rew-body">
                <p>Отзыв</p>
            </div> -->
        </div>
        <div class="rew-item">
            <div class="rew-header">
                <div class="review">
                    <h4>Иван Иванов</h4>
                    <p>4</p>
                </div>
                <p>01.01.2024</p>
            </div>
            <div class="rew-body">
                <p>Необычное произведение, которое подойдет любителям медицинской тематики, экспериментов и как мне кажется психологии. Мне понравилось повествование некоторых мыслей и историй от лица собаки. В целом моральная составляющая и сюжет хороший. Интересная задумка и подача. Но для меня некоторые моменты оказались достаточно жестокими...</p>
            </div>
        </div>

    </div>
</div>