
<!-- <h1>Добро пожаловать {{title}}!</h1>
@if(title != "") {
    <p>Search {{title}}</p>
} -->

<!-- <sign-in></sign-in> -->
<router-outlet></router-outlet>
<!-- <mainInfo-app></mainInfo-app> -->
  
<footer id="contacts">
  <h5>Contacts</h5>
  <div class="contacts">
      <div class="contact-container">
          <p>Email: <a href="mailto:dubovikmaryl@gmail.com">info&#64;biblio.com</a></p>
          <p>Address: Moscow</p>
      </div>
      <div class="social-media">
          <p>VK</p>
          <p>TG</p>
      </div>
  </div>
  <div class="foot-container">
      <p>© 2024 MRPO best team</p>
  </div>
</footer>