*{
    font-family: Garamond;
    background-color: rgb(234, 227, 227);
}

.navbar {
    height: 80px;
    padding-top: 30px;
    background-color: rgb(92, 102, 152);
    display: flex;
    justify-content: space-around;
    border: 5px solid  rgb(81, 90, 134);

}

.bar {
    width: 75%;
    background-color: rgb(92, 102, 152);
}

.navbar ul {
    width: 90;
    margin: 0;
    padding: 0;
    padding-top: 29px;
    background-color: rgb(92, 102, 152);
    display: flex;
    justify-content: space-between;
}

.navbar li {
    display: inline-block;
    /* text-align: left; */
    /* justify-content: space-around; */
    background-color: rgb(92, 102, 152);
}

.navbar a {
    padding: 0;
    color: rgb(234, 227, 227);
    text-decoration: none;
    font-weight: bold;
    background-color: rgb(92, 102, 152);
}

.list-container {
    /* border: 5px solid black; */
    border: 5px solid rgb(234, 227, 227);;
}

.row {
    /* width: 20vh;
    height: 40vh; */
    margin: 0;
    /* border: 5px solid black; */
    display: flex;
    justify-content: space-around;
}

.book {
    width: 20%;
    margin-bottom: 16px;
    padding: 0 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.book img {
    width: 70%;
    /* height: 70%; */
    display: block;
    margin-top: 20px; 
    margin-left: auto; 
    margin-right: auto
    /* height: 40vh; */
}

.book-info {
    /* display:grid;
    margin-left: auto; 
    margin-right: auto */
    /* padding-left: 20px; */
    display: block;
    margin-right: 20px;
}

.book-info h3, h4, p {
    /* margin: 0; */
    text-align: center;
}