<div id="profile">
    <div class="navbar">
        <div class="bar">
            <ul>
                <li><a href="#main">Biblio</a></li>
                <li><a href="#exit">Exit</a></li>
            </ul>
        </div>
    </div>
    
    <div class="profile-page">
        <div class="profile-container">
            <div class="profile-info">
                <div class="data-container">
                    <h1>Profile</h1>
                    <p>Email:</p>
                    <p>Loggin:</p>
                </div>
                <div class="fav-container">
                    <h3>Favourites</h3>

                    <div class="row">
                        <div class="book" onclick="document.location='/book'">
                            <img src="https://sun9-78.userapi.com/impg/0DLhSbOu0VN3p7g48PbQrgaPL9B_HovPELc-VQ/icjH35ei6YE.jpg?size=690x1080&quality=95&sign=b3dd06966ffed9a7e531d718be109378&type=album" alt="">
                            <div class="book-info">
                                <h3>Мастер и Маргарита</h3>
                                <p>Булгаков М.А.</p>
                                <h4>5</h4>
                            </div>
                        </div>
                        <div class="book">
                            <img src="https://sun9-29.userapi.com/impg/fJA6ngHheABBYNKSwYXfOaRganFghR-qKal0JA/q3uScRB4Tkw.jpg?size=480x606&quality=95&sign=51b9e0aa0d70097f44f0df5e53045af6&type=album" alt="">
                            <div class="book-info">
                                <h3>Мастер и Маргарита</h3>
                                <p>Булгаков М.А.</p>
                                <h4>5</h4>
                            </div>            
                        </div>
                        <div class="book">
                            <img src="https://sun9-78.userapi.com/impg/0DLhSbOu0VN3p7g48PbQrgaPL9B_HovPELc-VQ/icjH35ei6YE.jpg?size=690x1080&quality=95&sign=b3dd06966ffed9a7e531d718be109378&type=album" alt="">
                            <div class="book-info">
                                <h3>Мастер и Маргарита</h3>
                                <p>Булгаков М.А.</p>
                                <h4>5</h4>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="history">
                <h2>History</h2>
                <p>Some info</p>

            </div>
        </div>
    </div>
    
    
    <!-- <footer id="contacts">
        <h5>Contacts</h5>
        <div class="contacts">
            <div class="contact-container">
                <p>Email: <a href="mailto:dubovikmaryl@gmail.com">info&#64;biblio.com</a></p>
                <p>Address: Moscow</p>
            </div>
            <div class="social-media">
                <p>VK</p>
                <p>TG</p>
            </div>
        </div>
        <div class="foot-container">
            <p>© 2024 MRPO best team</p>
        </div>
    </footer>
    
</div>

 -->